.vs
SensitiveWords/.vs/ProjectEvaluation/sensitivewords.metadata.v7.bin
SensitiveWords/.vs/ProjectEvaluation/sensitivewords.metadata.v7.bin
SensitiveWords/.vs/ProjectEvaluation/sensitivewords.projects.v7.bin
SensitiveWords/.vs/SensitiveWords/v17/.suo
